doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Бесплатный онлайн-семинар
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://int-traf.ru/humane-libnotify.css">
    link(rel="stylesheet", href="css/style.css")
  body 

    // welcome
    section.welcome
      .welcome__row 
        .welcome__img 
            img(src="img/boy-1-v8.jpg", alt="")
        .welcome__content
          .welcome__text Бесплатный онлайн-семинар
          h1.welcome__title 
            span.mobile-hide КАК С НУЛЯ <br>БЫСТРО ЗАГОВОРИТЬ<br>
              span.welcome__underline НА АНГЛИЙСКОМ?
            span.mobile-visible КАК С НУЛЯ <br>БЫСТРО <br>ЗАГОВОРИТЬ<br>
              span.welcome__underline НА АНГЛИЙСКОМ?
          .welcome__desc 
            span.mobile-hide СИСТЕМНОЕ ИЗУЧЕНИЕ ЯЗЫКА ПО АВТОРСКОМУ МЕТОДУ «ОСТРОВ»
            span.mobile-visible СИСТЕМНОЕ ИЗУЧЕНИЕ ЯЗЫКА <br>ПО АВТОРСКОМУ МЕТОДУ «ОСТРОВ»
          ul.welcome__list
            li 
              .welcome__icon
                img(src="img/flag.png", alt="") 
              span Узнаете, как правильно учить язык простому человеку, а не лингвисту
            li
              .welcome__icon
                img(src="img/bigben.png", alt="")
              span Разберете 30 грамматических "кирпичей", из которых состоит весь английский
            li
              .welcome__icon
                img(src="img/sherlock.png", alt="")
              span Прямо на семинаре выучите все 16 времен английского языка
            li 
              .welcome__icon
              p.mobile-hide
                span И еще 7 суперважных тем! 
                  strong Участвуйте бесплатно ↓
              span.mobile-visible ...и еще 7 суперважных тем! 

          // user
          .user.mobile-visible
            .user__row
              .user__avatar 
                img(src="img/avatar.png", alt="")
              .user__content 
                .user__title 
                  p СЕМИНАР ВЕДЕТ
                  p СЕРГЕЙ СЕРДЮКОВ
                .user__text
                  p ДИРЕКТОР ШКОЛЫ АНГЛИЙСКОГО ЯЗЫКА
                  p 1.5 ГОДА ЖИЛ И РАБОТАЛ В АНГЛИИ
                  p ОБУЧАЕТ АНГЛИЙСКОМУ БОЛЕЕ 10 ЛЕТ
          //	/user

          .welcome__blockbtn 
            .welcome__mobiletext.mobile-visible Участвуйте бесплатно ↓
            p.mobile-hide Уже зарегистрировались 
              span.count-number(data-val-up="0" data-val-to="317" data-duration="2000") 317
              |  человек
            p.mobile-visible Уже зарегистрировались <br>
              span.count-number(data-val-up="0" data-val-to="317" data-duration="2000") 317
              |  человек
            button.welcome__btn.modal-trigger(data-modal="#modal-form")
              i.fa.fa-arrow-right
              span ПРИНЯТЬ УЧАСТИЕ
          .welcome__policy.mobile-hide
            p Этот сайт не является частью сайта Facebook или Facebook, inc. Кроме того, этот сайт никаким образом не одобрен Facebook. FACEBOOK является торговой маркой FACEBOOK, INC
            p ИП Семилетко Алексей Борисович ОГРН 317420500014963. Телефон: +7.932.33.70.500, email: web@english-webinar.ru
            p
              a(href="#") Политика конфиденциальности
          .welcome__policy.mobile-visible
            p Этот сайт не является частью сайта Facebook или Facebook, inc. Кроме того, этот сайт никаким образом не одобрен Facebook. FACEBOOK является торговой маркой FACEBOOK, INC
            p ИП Семилетко Алексей Борисович ОГРН 317420500014963.
            p Телефон: +7.932.33.70.500, email: web@english-webinar.ru
            p
              a(href="#") Политика конфиденциальности
    //	/welcome

    // modal
    .modal#modal-form
      .modal__body
        .modal__content
          .modal__head 
            h2 Регистрация на онлайн-семинар
            .modal__close
          form(action="#").modal__form
            h3 Участие бесплатное. Ссылка придет вам по почте и sms. Регистрируйтесь ↓
            .modal__row 
              .modal__label Дата и время семинара:
              .modal__input 
                input(type="text")
            .modal__row 
              .modal__label Введите ваше имя *
              .modal__input 
                input(type="text" required)
            .modal__row 
              .modal__label Введите электронную почту *
              .modal__input
                input(type="text" required)
            .modal__row 
              .modal__label Телефон для смс-напоминания *
              .modal__input(data-type="phone")
                input(type="text" required)
            button(type="submit").welcome__btn.welcome__btn--form
              i.fa.fa-arrow-right
              span ПРИНЯТЬ УЧАСТИЕ
            .modal__policy.mobile-hide
              p Нажимая кнопку "Принять участие", вы соглашаетесь с 
                a(href="#") Политикой конфиденциальности
                |  школы "Черчилль". Вы соглашаетесь получать телефонные звонки и SMS-сообщения от школы "Черчилль" для информирования о предстоящих онлайн-мероприятиях и/или в маркетинговых целях. Частота сообщений зависит от вашей активности. Вы можете отказаться, написав сообщение "СТОП" на почту 
              p web@english-webinar.ru.
            .modal__policy.mobile-visible
              p Нажимая кнопку, вы даете согласие на 
                a(href="#") обработку персональных данных
    // /modal
    
    .humane-libnotify

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js") 
    script(src="https://int-traf.ru/humane.js?v=1")
    //- script(src="https://github.com/downloads/digitalBush/jquery.maskedinput/jquery.maskedinput-1.3.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js") 
    script(src="js/scripts.js") 