.welcome {
  &__row {
    display: flex;
    height: 100%;
  }
  &__img {
    min-height: 100vh;
    width: 41.5%;
    img {
      display: block;
      min-height: 100%;
      object-fit: cover;
      object-position: right;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 58.5%;
    padding: 15px 15px 0 30px;
  }
  &__text {
    margin-bottom: 40px;
    font-weight: 700;
    text-align: center;
  }
  &__title {
    padding-bottom: 4px;
    margin-bottom: 3px;
    border: 5px solid $yellow;
    font-size: 2.64vw;
    font-weight: 700;
    text-align: center;
  }
  &__underline {
    text-decoration: underline;
  }
  &__desc {
    text-align: center;
    font-weight: 700;
    span {
      padding: 0 10px;
      background-color: $yellow;
      color: #000;
    }
  }
  &__list {
    padding: 15px 0;
    font-weight: 300;
    li {
      display: flex;
      align-items: center;
      position: relative;
    }
    strong {
      font-weight: 600;
    }
    span {
      display: block;
      padding: 12px 0 12px 20px;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 53px;
    img {
      max-height: 100%;
    }
  }
  &__blockbtn  {
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
    p {
      margin-bottom: 10px;
    }
  }
  &__btn {
    padding: 14px 20px;
    background-color: $yellow;
    border: none;
    border-bottom: 3px solid #d9b100;
    border-radius: 4px; 
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    .fa {
      margin-right: 11px;
      font-size: 27px;
    }
    &--form {
      width: 100%;
      padding: 10px 20px;
      font-size: 18px;
      margin-top: 10px;
      .fa {
        font-size: 23px;
      }
    }
    &:hover {
      background-color: #f4c700;
      border-color: #ad8e00;
      color: #002957;
    }
  }
  &__policy {
    font-size: 8px;
    color: #b07ee1;
    text-align: center;
    p {
      padding: 5px;
    }
    a {
      font-size: 9px;
      color: #fff;
      text-decoration: underline;
    }
  }
  @media (max-width: $break_sm) {
    &__row {
      justify-content: center;
    }
    &__img {
      display: none;
    }
    &__content {
      width: 100%;
      max-width: 767px;
      padding: 15px 0;
    }
    &__title {
      font-size: 22px;
    }
    &__desc {
      
    }
    &__list {
      padding: 15px 10px;
      font-weight: 600;
      strong {
        font-weight: normal;
      }
      span {
        display: block;
        padding: 12px 0 12px 10px;
      }
    }
    &__blockbtn {
      font-size: 16px;
      font-weight: 600;
      span {
        
      }
    }
    &__mobiletext {
      padding: 15px 0 20px;
    }
    &__btn {
      padding: 10px 20px;
      font-size: 19px;
      .fa {
        font-size: 25px;
      }
    }
    &__policy {
      padding-top: 80px;
      span {
        padding: 5px 0;
        display: block;
      }
    }
  }
}